#budget {
    border: 1px solid green;
    height: 150px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    cursor: pointer;
}

#budget:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#depense {
    border: 1px solid rgb(223, 37, 37);
    height: 250px;
    width: 350px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

#depense:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}